a {
    text-decoration: none;

    display: inline;
    position: relative;

    color: $color_accent_darken;

    &:hover::after {
        content: " ";
        display: block;
        width: 100%;

        position: absolute;
        left: 0;
        bottom: -4px;

        border-bottom: $color_accent solid 1.5px;

        transition: ease;
        animation: border_load 1s;
    }

    &:hover {
        color: $color_accent;
    }

    &:active::after {
        content: " ";
        display: block;
        width: 100%;

        position: absolute;
        left: 0;
        bottom: -4px;

        border-bottom: $color_accent solid 1.5px;
        color: white;
    }

    &:active {
        color: $color_accent;
    }
}

@keyframes border_load {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}