.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &-list {
        display: none;

        width: 100%;

        a {
            color: #f7f7f7;

            &:hover {
                color: #f5d8aa;
            }
        }

        &.is-active {
            display: block;
    
            width: 100%;
            height: 20rem;
    
            text-align: center;
            padding: 4rem 2rem;
            background-color: #84c4dff7;
    
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;

            animation: nav_animation .5s linear;
            transition: all ease-in-out;
    
            li {
                padding: .5rem 0;
                animation: navlist_animation 2.5s;
            }
        }
    }

    .burger {
        color: $color_main;
        align-self: center;

        margin-left: auto;
        margin-right: 2rem;

        position: relative;
        z-index: 1;

        .fa {
            font-size: 1.8rem;
        }
    }

    .remove {
        display: none;

        &.is-active {
            display: inline-block;

            align-self: center;

            position: absolute;
            right: 2rem;
            z-index: 20;

            .fa {
                font-size: 2rem;
                color: #f7f7f7;
            }
        }
    }

    @media(min-width:768px) {

        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            width: 80%;
            margin-left: auto;
        }

        .burger {
            display: none;
        }
    }

    @media(min-width:992px) {

        &-list {
            width: 55%;
        }
    }
}

@keyframes nav_animation {
    0% {
        padding: 0;
        height: 0;
    }
    100% {
        height: 20rem;
        padding: 4rem 0;
    }
}

@keyframes navlist_animation {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: list-item;
        opacity: 1;
    }
}