h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title, $font-fallback;
    font-weight: 500;
}

.section__title {
    font-size: $font_title_l;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}