h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title, $font-fallback;
    font-weight: 500;
}

.section__title {
    font-size: $font_title_l;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    padding-top: 1rem;
    padding-bottom: 1.5rem;

    width: 100%;
    height: 100%;

    @media (min-width: 992px) {
        font-size: 2rem;
    }
}

.section__subtitle {
    display: block;

    width: 100%;
    text-align: center;

    margin: auto;
    margin-bottom: 1rem;

    font-size: 18px;

    @media (min-width: 992px) {
        width: 60%;
    }
}

#portfolio .section__title {
    padding-bottom: 1rem;
}