/vendor
/wp
/wp-config.php
/content/plugins/*
!/content/plugins/portfolio-plugin
!/content/plugins/advanced-custom-fields-pro
!/content/plugins/all-in-one-wp-security-and-firewall
!/content/plugins/wps-hide-login
/content/themes/*
!/content/themes/portfolio-theme
/content/languages
/content/upgrade
/content/uploads