#career {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-bottom: 17rem;

    background: #f7f7f7;

    .career-items {
        display: flex;
        justify-content: space-evenly;

        margin: auto;

        position: relative;

        &__link {
            display: inline-block;

            text-align: center;
            color: $color_accent_darken;
            font-size: 1.125rem;

            padding-bottom: .5rem;

            margin: 0;

            .link {
                cursor: pointer;

                position: relative;

                display: inline-block;
                margin-top: 1rem;
                padding: .8rem 1rem;
                border-radius: 8px;
                background: linear-gradient(0deg, #a9abcc 10%, #81c8e6 100%);
                color: #ffffff;
                font-weight: normal;
                align-self: center;

                &:hover::after {
                    content: " ";
                    display: block;
                    height: 100%;
                    width: 100%;

                    position: absolute;
                    left: -6.5px;
                    right: 0;
                    bottom: 0px;

                    padding: 0 .3rem;

                    border-right: $color_accent solid 1.5px;
                    border-left: $color_accent solid 1.5px;

                    transition: ease;
                    animation: border_load_sides .5s;
                }

                &:hover {
                    transform: scale(1.05);
                    transition: all .2s ease-in-out;
                }

                &.is-active {

                    &::after {
                        content: " ";
                        display: block;
                        height: 100%;
                        width: 100%;
    
                        position: absolute;
                        left: -6.5px;
                        right: 0;
                        bottom: 0px;
    
                        padding: 0 .3rem;
    
                        border-right: $color_accent solid 1.5px;
                        border-left: $color_accent solid 1.5px;
    
                        transition: ease;
                    }
                }
            }
        }
    }

    .career {

        &-content {

            &:first-child {
                margin-bottom: 3rem;
            }
        }
    }

    @media (min-width:576px) {
        
        .career-items {
            width: 50%; 

            &__link {
                margin: 0 2rem;
                font-size: 1.25rem;

                .link {
                    padding: .8rem 1.5rem;
                }
            }
        }
    }

    @media (min-width:768px) {
        .career {
            &-content {
                width: 60%;
                margin: auto;
            }
        }

        
    }

    @media (min-width:1200px) {

        .career-items {
            width: 40%;
        }
    }
}

@keyframes border_load_sides {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
