#career {
    // background-color: $color_alt;
    // background: linear-gradient(0deg, #f7f7f7 75%, #ffffff 100%);
    // border-radius: 0 0 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 20rem;
    margin-bottom: -20rem;

    position: relative;
    top: -18rem;
    z-index: -1;

    background: #f7f7f7;

    .career-items {
        display: flex;
        justify-content: space-evenly;

        margin: auto;

        position: relative;

        &__link {
            display: inline-block;
            // width: 40%;

            text-align: center;
            color: $color_accent_darken;
            font-size: 20px;

            padding-bottom: .5rem;

            margin: 0 2rem;

            .link {
                // display: inline;
                cursor: pointer;

                position: relative;

                display: inline-block;
                margin-top: 1rem;
                padding: .8rem 1.5rem;
                border-radius: 8px;
                background: linear-gradient(0deg, #a9abcc 10%, #81c8e6 100%);
                color: #ffffff;
                font-weight: normal;
                align-self: center;

                /*
                &:hover::after {
                    content: " ";
                    display: block;
                    width: 100%;

                    position: absolute;
                    left: 0;
                    bottom: -4px;

                    border-bottom: $color_accent solid 1.5px;

                    transition: ease;
                    animation: border_load 1s;
                }*/

                &:hover {
                    transform: scale(1.05);
                    transition: all .2s ease-in-out;
                }

                &.is-active {

                    &::after {
                        content: " ";
                        display: block;
                        width: 100%;
    
                        position: absolute;
                        left: 0;
                        bottom: -4px;
    
                        border-bottom: $color_accent solid 1.5px;
    
                        transition: ease;
                    }
                }
            }
        }
        /*
        &:last-child::after {
            content: "|";
            display: inline-block;
            color: $color_dark;
            font-weight: bold;

            position: absolute;
            top: 0;
        }*/
    }

    .career {

        &-content {

            &:first-child {
                margin-bottom: 2rem;
            }
        }
    }

    @media (min-width:576px) {
        
        .career-items {
            width: 50%;
        }
    }

    @media (min-width:768px) {
        .career {
            &-content {
                width: 60%;
                margin: auto;
            }
        }

        
    }

    @media (min-width:1200px) {

        .career-items {
            width: 40%;
        }
    }
}

