.footer {
    padding: 2rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
    color: $color_main;

    position: absolute;
    bottom: 0;
    width: 100%;
}