#head {
    // background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 5rem;
    padding-bottom: 16rem;
    min-height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    .head {
        
        &-img {
            width: 12rem;
            height: 12rem;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;

            margin: auto;
        }

        &-content {
            text-align: center;
            color: #f0f0f0;
            position: relative;
            z-index: 10;

            &.text {    
                // padding: 1rem 1rem 2rem;
                padding: 0;
                margin-top: 1rem;
            }
    
            &.img {
                padding-bottom: 0;
                padding-top: 2rem;
            }

            &__title {
                font-size: $font_title_l;
                font-weight: 600;
                text-transform: uppercase;
                color: #ffffff;

                padding: .5rem 0 .35rem;

                @media (max-width: 345px) {
                    font-size: 1.6rem;
                }
            }

            &__subtitle {
                font-size: 1.4rem;
            }

            &-address {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                a {
                    display: inline;
                    color: $color_accent;

                    &:hover::after {
                        bottom: -1px;
                    }

                }
            }
        }

        &-social {

            &-container {
                margin: .5rem 0 0;
            }
    
            &__link {
                color: $color_main;
                margin: 0 .5rem;
                
                .fa {
                    font-size: 2rem;
                    
                    &:hover {
                        transform: scale(1.2);
                        transition: all .2s ease-in-out;
                    }
                }
    
                &:hover::after {
                    content: none;
                }
            }
        }
    }

    @media(min-width:576px) {
        padding-top: 8rem;
    }

    @media (min-width:768px)  {

        .head {
        
            &-img {
                width: 15rem;
                height: 15rem;
            }
    
            &-content.text {
                margin-top: 2rem;
    
                a {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
            }

            &-content {

                &__title {
                    font-size: 2.8rem;
                    margin: .5rem 0;
                }

                &__subtitle {
                    display: inline-block;
                    font-size: 2.4rem;
                }

                &-address {

                    a:hover::after {
                        bottom: -4px;
                    }
                }
            }

            .social {

                &__link {
    
                    .fa {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    @media (min-width:992px) {
        padding-bottom: 12rem;
    }
}

