#presentation {
    min-height: 30rem;
    position: relative;

    .presentation-container {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    
        background-color: $color_main;
        border-radius: 5rem;
        padding-bottom: 5rem;
        padding-top: 3rem;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    
    .presentation-content {
        width: 90%;
        margin: auto;
        position: relative;
        z-index: 10;
        
        &__text {
            text-align: left;

            .fa {
                padding-right: .3rem;
                color: $color_accent;
                width: 100%;
                font-size: 3rem;
                margin-bottom: .5rem;

                &-laptop {
                    font-weight: bold;
                }
            }
        }
    }

    @media (min-width:768px)  {

        .presentation-content {
            width: 70%;
            padding: 1rem;

            &__text {
                text-align: center;
            }
        }
    }

    @media (min-width: 992px) {
        min-height: 9rem;

        .presentation-container {
            border-radius: 50% 50% 0 0;
            border-radius: 1rem;
    
            width: 90%;
    
            padding: 2rem;
            margin: auto;
            margin-bottom: 2rem;
    
            box-shadow: 0 0 29px #00000012;
        }
    }

    @media (min-width: 1400px) {
        .presentation-container {
            width: 65%;
        }
    }
}