* {
    box-sizing: border-box;

    &::-moz-selection {
        background: none;
        color: #598aaf;
    }

    &::selection {
        background: none;
        color: #598aaf;
    }
}

body {
    font-family: $font-default;
    line-height: 1.4em;
    color: $color_dark;
    background: #f7f7f7;
    font-size: $font-size-default;
    position: relative;
    z-index: -1;
    height: 100%;
}

main {
    height: 100%;
}

.section-wrap {
    min-height: 50vh;
    padding: 2.8rem 1rem;

    @media(min-width:768px) {
        padding: 2.5rem 1rem;
    }
}

.div-wrap {
    padding: 2.5rem 1rem;
    min-height: 35vh;
}

.main {
    position: relative;
}

.br {
    display: inline-block;

    width: 100%;

    margin: 2rem 0 .3rem;
    padding: 1.5rem 15% 1rem;

    font-weight: 600;
    font-family: $font-title;
    color: #c58f37;
    color: $color_dark;
    text-align: center;

    position: relative;

    &:first-of-type {
        margin-top: 0rem;

        &::before {
            content: none;
        }
    }

    &::before {
        content: " ";
        display: block;
        width: 50%;
        border-top: 1px solid #d6d6d6;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

.is-active {
    display: block !important;
}