$fa-font-path: '~font-awesome/fonts';

// Breakpoint

// Couleurs
$color_main: #ffffff;
$color_alt: #f7f7f7; 
$color_accent: #d29b43;
$color_dark: #0b1129;

// Attribution des couleurs

// Font-size
$font_title_default: 1.5rem;
$font_title_l: 1.8rem;

// Font-family
$font-default: 'Open Sans', sans-serif;
$font-title: 'Poppins', sans-serif;
$font-fallback: Arial, Helvetica, sans-serif;