@charset 'UTF-8';

// 1. Abstracts
@import
    'abstracts/vars';

// 2. Vendors
@import 
    'vendors/vendors';


// 3. Base
@import 
    'base/typo',
    'base/base';

// 4. Layout
@import 
    'layout/header',
    'layout/head',
    'layout/main',
    'layout/presentation',
    'layout/career',
    'layout/skills',
    'layout/portfolio',
    'layout/footer';

// 5. Components
@import 
    'components/title',
    'components/btn',
    'components/nav',
    'components/textbloc',
    'components/img',
    'components/link';

// 6. Pages
